.polaroid {
  width: 400px;
  background-color: white;
  padding: 10px 10px 70px 10px;
  box-shadow: 5px 10px 50px #000000;
  transform: rotate(8deg);
  transition: transform 0.3s ease;
  text-align: center;
  font-family: 'Arial', sans-serif;
  border: 1px solid #ccc;
  margin: 0 auto;
}

.polaroid:hover {
  transform: rotate(6deg) scale(1.03);
}

.polaroid-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}