.ProjectsContainer{
  height: 400px;
  padding: 20px;
  background: linear-gradient(to top, 
  #000 0%,
  #141414 40%, 
  #838383 100%
  );
}

.ProjectsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.Project1,
.Project2,
.Project3 {
  width: 250px;
  padding: 15px;
  background: linear-gradient(135deg, #1b1b1b, #616161);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgb(0, 0, 0);
  transition: transform 0.6s ease, background-color 0.6s;
}

.Project1:hover,
.Project2:hover,
.Project3:hover {
  transform: translateY(-8px);
}

.Project1 h1,
.Project2 h1,
.Project3 h1 {
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: start;
  color: #ffffff;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.Project1 p,
.Project2 p,
.Project3 p {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
  text-align: start;
  color: #a3a3a3;
  margin-bottom: 15px;
  line-height: 1.4;
}

.Project1 a,
.Project2 a,
.Project3 a {
  color: #686868;
  text-decoration: none;
  transition: color 0.3s ease, border-bottom 0s ease;
}

.Project1 a:hover,
.Project2 a:hover,
.Project3 a:hover {
  color: #000000;
}



.ProjectsSection span {
  color: #686868;
  font-size: 0.7rem;
}

.ProjectsTitle h1 {
  font-size: 3.2rem;
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
    display: flex;
  justify-content: center;
  align-items: center;
}

.ProjectsTitle {
  padding-bottom: 10px;
}

