.Footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #a4aab34f;
  font-size: 0.8rem;
  margin: 0;
}

.Contacts {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.Icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
}

.Icons i {
  color: #ffffff;
  font-size: 20px;
}


.email {
  background-color: #d93025;
}

.whatsapp {
  background-color: #25D366;
}

.github {
  background-color: #333333;
}

/* ------------------------Presentation Section--------------------------- */

.PresentationCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  width: 100%;
  height: 800px;
}

.image {
  
  background-color: #1a1a1a;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
}

.Name {
  background-color: #202020;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Name h1 {
  color: #ccccccd8;
  font-size: 2.4rem;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Name h2{
  color: #777;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: -8px 0px 15px 0px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.Name span{
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ---------------------------- Info Section ----------------------------- */

.FooterSection {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  height: 50px;
}

