
/* ------------------------Presentation Section--------------------------- */

.PresentationCard {

  /* width: 800px; */
  min-width: 800px;
  max-width: 800px;
  margin: 20px auto 10px auto;
  padding: 20px;
  /* background-color: #2e3958; */
  color: #A4AAB3;
  border-radius: 12px;
  /* box-shadow: 0 4px 12px rgba(8, 8, 8, 0.5); */
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

/* .PresentationCard:hover {
  background-color: #1d263f;
  border-color: #274C77;
  box-shadow: 0 6px 20px rgba(51, 51, 51, 0.7);
} */

.Header {
  display: flex;
  align-items: center;
  gap: 20px;
  /* margin-left: 0%; */
}

.Name h1 {
  color: rgb(218, 218, 218);
  font-size: 2.5rem;
  text-align: center;
}

.Name h2{
  color: #a1a1a1;
  border-bottom: 2px solid rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: -8px 0px 15px 0px;
  
}

.Name p{
  text-align: start;
  margin: 0px 0px 5px px;
}

span {
  font-weight: bold;
  color: #ffffff;
}

.Footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #a4aab34f;
  font-size: 0.8rem;
  margin: 0;
}

/* ---------------------------- Info Section ----------------------------- */

@keyframes glowingShadow {
  0% {
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.1);
  }
  50% {
    box-shadow: 0 0px 20px rgba(172, 172, 172, 0.336);
  }
  100% {
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.1);
  }
}

.AboutMe {
  width: 1000px;
  max-width: 100%;
  margin: 5px auto;
  padding: 20px;
  color: #A4AAB3;
  border-radius: 12px;
  
  animation: glowingShadow 1.8s ease-in-out infinite;
  transition: transform 0.6s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.AboutMe h1 {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.AboutMe p {
  text-align: center;
  transition: max-height 1.8s ease, opacity 0.8s ease;
}

.AboutMe:hover {
  background-color: #1d263f;
  transform: scale(1.03);
}

.Perfiltecnico{
  width: 1100px;
  max-width: 100%;
  /* padding: 20px; */
  margin: 0px auto 0px auto;
  color: #A4AAB3;
  border-radius: 15px;

    animation-name: disappear-up;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  transition: transform 0.6s ease, background-color 0.6s ease, border-color 0.6s ease;


  /* Scroll-driven animation */
  animation-timeline: view();
  animation-range: exit 0% exit 100%;
}

.Perfiltecnico h1,
.Title{
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 5px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;


}

.Perfiltecnico p{
  margin-top: 10px;
  text-align: center;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;

}

.Perfiltecnico hr{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;


}



/* .contenedor-fondo {
  position: relative;
  width: auto;
}

.contenedor-fondo::before {
  content: '';
  position: absolute;
  background-image: url('/HdV-Imagen.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  z-index: -1;
  left: 0;
  top: 0;
  border-bottom-right-radius: 100%;
  border-top-right-radius: 1500px;
}

.contenido-hdv {

} */