.Footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #a4aab34f;
  font-size: 0.8rem;
  margin: 0;
}

/* ------------------------Presentation Section--------------------------- */

.PresentationCard {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 790px;
}

.image {
  background-color: #202020;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
}

.Name {
  background-color: #1a1a1a;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Name h1 {
  color: #ccccccd8;
  font-size: 2.4rem;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Name h2{
  color: #777;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: -8px 0px 15px 0px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.Name span{
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ---------------------------- Info Section ----------------------------- */

.AboutMe {
  width: 1000px;
  height: 750px;
  margin: 5px auto;
  padding: 20px;
  border-radius: 12px;
}







.Perfiltecnico{
  width: 1100px;
  max-width: 100%;
  /* padding: 20px; */
  margin: 0px auto 0px auto;
  color: #A4AAB3;
  border-radius: 15px;

    animation-name: disappear-up;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  transition: transform 0.6s ease, background-color 0.6s ease, border-color 0.6s ease;


  /* Scroll-driven animation */
  animation-timeline: view();
  animation-range: exit 0% exit 100%;
}

.Perfiltecnico h1,
.Title{
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 5px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;


}

.Perfiltecnico p{
  margin-top: 10px;
  text-align: center;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;

}

.Perfiltecnico hr{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;


}

.gitbutton{
  margin-right: auto;
}


.contenedor-1 {
  background-color: #0A0F1F !important;
}
